*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.back{
    padding: 32px;
background-color: limegreen;
}
#menu{
    display: none;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
   color: chartreuse;
}


.menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
background-color: forestgreen;
    display: none;
}



.menu :checked ~ .navbar{
    display: initial;
}

.sena{
    width: 50px;
    height: 60px;
    margin-right: 10px;
}
